@import 'styles/colors.scss';
@import 'styles/typography.scss';

a {
  font-family: $font-proxima-nova-alt;
  color: $color-secondary;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 200;
  opacity: 0.8;
}

.brand {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.4rem;
}

.root {
  display: flex;
  flex-direction: row;
  padding: 45px 120px;
}

.flexGrow {
  flex-grow: 1;
}

.menuItem {
  margin-left: 40px;
}

