@import 'styles/colors.scss';
@import 'styles/typography.scss';
@import 'styles/layout.scss';

a {
  font-family: $font-proxima-nova-alt;
  color: $color-secondary;
  text-decoration: none;
  text-transform: lowercase;
  letter-spacing: 2px;
  font-size: 1.2rem;
  font-weight: 200;
  opacity: 0.8;
  white-space: nowrap;
}

.brand {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 1.4rem;
}

.root {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - #{2 * $page-side-margin});
  padding: 45px $page-side-margin;
  background-color: $color-primary;
  z-index: 100;
}

.flexGrow {
  flex-grow: 1;
}

.menuItem {
  margin-left: 40px;
}

