@import 'styles/colors.scss';
@import 'styles/typography.scss';
@import 'styles/layout.scss';

body {
  margin: 0px;
}

p {
  color: $color-secondary;
}

.root {
  padding: 0px $page-side-margin;
  background-color: $color-primary;
}

.mainTextContainer {
  position: absolute;
  top: 32%;
}

.helloText {
  font-family: $font-athelas;
  font-size: 3.5rem;
}

.helloSubText {
  font-family: $font-montserrat;
  font-size: 1.8rem;
  font-weight: 300;
}